/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.heroEmbossed {
  color: #f0f0f0;
  background-color: #666666;
  text-shadow: 1px 4px 4px #555;
  -webkit-background-clip: text;
    -moz-background-clip: text;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
